[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
loaddb = "python manage.py loaddb"
server = "flask run"

[packages]
flask = "*"
redis = "*"
pyyaml = "*"
click = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "2.7"
