<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Secret Santa</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body style="background-color: #f4f5f6">
<div style="text-align: center; width: 400px;margin: 10% auto auto;">
    <img src="{{ url_for('static', filename='santa.png') }}">
    <h1>Secret Santa</h1>
    <div style="background-color: #fbfbfb; padding: 10%;">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
